%p= button_to "Add category", new_category_path, method: :get, class: 'btn btn-lg btn-warning pull-right'
%p List of categories:
%ul
  - @categories.each do |category|
    %li= link_to category.name.capitalize, category
